body {
    margin: 0;
    font-family: 'Noto Sans TC', sans-serif; 
    background-color: #202020;
    color: #333; 
}

#infoDiv {
    position: absolute;
    display: none;
    /* background-color: #b4b4b4; */
    background-color: #d4d4d4;
    opacity: 0.8;
    padding: 12px 16px; 
    pointer-events: none;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
    font-size: 16px;
    line-height: 1.5; 
    z-index: 100;
}

#infoDiv br {
    margin-bottom: 4px; 
}

#titleDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    text-align: center;
    font-size: 60px;
    pointer-events: none;
}

#loadingDiv {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    color: white;
    z-index: 200; /* Higher z-index to cover other elements */
}

@media only screen and (max-width: 520px) {
    #titleDiv {
        font-size: 20px; /* Smaller text size for smaller screens */
    }
    #infoDiv {
        font-size: 14px; /* Smaller text size */
        padding: 8px 10px; /* Smaller padding */
    }
    #loadingDiv {
        font-size: 30px; /* Smaller text size */
    }
    body {
        font-size: 14px; /* Smaller base font size for body text */
    }
}

@media only screen and (min-width: 521px) and (max-width: 600px) {
    #titleDiv {
        font-size: 30px; /* Intermediate text size for medium screens */
    }
    #infoDiv {
        font-size: 15px; /* Slightly larger text size */
        padding: 10px 12px; /* Slightly larger padding */
    }
    #loadingDiv {
        font-size: 40px; /* Smaller text size */
    }
    body {
        font-size: 16px; /* Intermediate base font size for body text */
    }
}

@media only screen and (min-width: 601px) and (max-width: 800px) {
    #titleDiv {
        font-size: 30px; /* Intermediate text size for medium screens */
    }
    #infoDiv {
        font-size: 15px; /* Slightly larger text size */
        padding: 10px 12px; /* Slightly larger padding */
    }
    #loadingDiv {
        font-size: 40px; /* Smaller text size */
    }
    body {
        font-size: 16px; /* Intermediate base font size for body text */
    }
}

@media only screen and (min-width: 801px) and (max-width: 1024px) {
    #titleDiv {
        font-size: 48px; /* Intermediate text size for medium screens */
    }
    #infoDiv {
        font-size: 15px; /* Slightly larger text size */
        padding: 10px 12px; /* Slightly larger padding */
    }
    #loadingDiv {
        font-size: 40px; /* Smaller text size */
    }
    body {
        font-size: 16px; /* Intermediate base font size for body text */
    }
}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 1025px) {
    #titleDiv {
        font-size: 60px; /* Suitable for larger displays */
    }
    #infoDiv {
        font-size: 16px; /* Standard text size */
        padding: 12px 16px; /* Standard padding */
    }
    body {
        font-size: 18px; /* Larger base font size for body text */
    }
}
